
      <!-- body -->
      <section class="py-0 osahan-main-body">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">

               </div>
               <div class="col-lg-12">
                  
                  <div class="p-0 bg-white rounded shadow-sm">
                     <div class="pt-0">
                        <p class="font-weight-light text-dark m-0 d-flex align-items-center" style="text-align: justify; padding-top: 10px !important;">
                           Somos uma startup, criada com o objectivo de prover um serviço de intermediação de mão de obra, bem como prover a ligação
                           entre fornecedores e consumidores, possibilitando o acesso a diversos produtos a um bom custo-benefício. assim, 
                           começamos por ter os seguintes serviços: 
                           <!-- <span class="badge badge-danger ml-2">50% OFF</span> -->
                        </p>

                     </div>
                     <div class="pt-2" style="padding-bottom: 15px; padding-left: 20px;">

                        <div class="row">

                           <div class="col-12">
                              
                              <p class="font-weight-bold m-0" style="margin-top: 20px !important; padding-bottom: 5px !important;">1. Entrega de Pão e seu complementos</p>

                              <p class="font-weight-light text-dark m-0 d-flex align-items-center" style="text-align: justify;">
                                 Este serviço consiste em fazer chegar ao cliente, de forma gratis o pão, fiambre, queijo, ovos, leite até a casa do cliente,
                                 nesta senda, atravez da nossa web-app o cliente deverá realizar a encomenda dos produtos que precisa, nas quantidades mínimas exigidas,
                                 e para as zonas abrangidas, o cliente paga apenas o valor de aquisição dos produtos sendo a entrega gratis. 
                                 <!-- <span class="badge badge-danger ml-2">50% OFF</span> -->
                              </p>

                           </div>
                           
                        </div>


                        <div class="row">

                           <div class="col-12">
                              
                              <p class="font-weight-bold m-0" style="margin-top: 20px !important; padding-bottom: 5px !important;">2. Manuntenção de carro ao domicílio</p>

                              <p class="font-weight-light text-dark m-0 d-flex align-items-center" style="text-align: justify;">
                                 Com a manuntenção ao domicílio nós pretendemos deslocar-nos para a casa do cliente, e fazer lá mesmo toda e qualquer manutenção de rotina, 
                                 como troca de filtros e oleo, troca de calços, a para as situações que precisa-se de comprar novas peças, também fazemos toda a ponto com os fornecedores.
                                 <!-- <span class="badge badge-danger ml-2">50% OFF</span> -->
                              </p>

                           </div>
                           
                        </div>

                        <div class="row">

                           <div class="col-12">
                              
                              <p class="font-weight-bold m-0" style="margin-top: 20px !important; padding-bottom: 5px !important;">3. Entrega de qualuqe produto alimentar - Fase posterior</p>

                              <p class="font-weight-light text-dark m-0 d-flex align-items-center" style="text-align: justify;">
                                 O objectivo deste serviço é fazer chegar aos clientes qualquer produto alimentar, para tal, estamos mapeando os fornecedores bem como o melhor custo-benefício.
                                 <!-- <span class="badge badge-danger ml-2">50% OFF</span> -->
                              </p>

                           </div>
                           
                        </div>

                        <div class="row">

                           <div class="col-12">
                              
                              <p class="font-weight-bold m-0" style="margin-top: 20px !important; padding-bottom: 5px !important;">3. Entrega de peças de carro - Fase posterior</p>

                              <p class="font-weight-light text-dark m-0 d-flex align-items-center" style="text-align: justify;">
                                 Muitas vezes nos encontramos com dificuldade de encontrar uma determinada peça para o nosso veiculo/automóvel, por isso, preparamos teremos nos proximos tempos
                                 o serviços para a localização da peça que procura.
                                 <!-- <span class="badge badge-danger ml-2">50% OFF</span> -->
                              </p>

                           </div>
                           
                        </div>


                     </div>
                     <!--
                        <div class="details">
                           <div class="pt-3 bg-white">
                              <div class="d-flex align-items-center">
                                 <div class="btn-group osahan-radio btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                    <input type="radio" name="options" id="option1" checked> 15 unid.
                                    </label>
                                    <label class="btn btn-secondary">
                                    <input type="radio" name="options" id="option2"> 20 unid.
                                    </label>
                                    <label class="btn btn-secondary">
                                    <input type="radio" name="options" id="option3"> 30 unid.
                                    </label>
                                 </div>
                              </div>
                           </div>
                           <div class="pt-3">
   
                              <p class="font-weight-bold mb-2">Detalhe do produto</p>
                              <p class="text-muted small mb-0">High quality Fresh Orange fruit exporters from South Korea for sale. All citrus trees belong to the single genus Citrus and remain almost entirely interfertile. This includes grapefruits, lemons, limes, oranges, and various other types and hybrids. The fruit of any citrus tree is considered a hesperidium, a kind of modified berry; it is covered by a rind wall.</p>
                           </div>
                        </div>
                     -->
                  </div>

               </div>
            </div>
            
         </div>
      </section>
      