
      <!-- body -->
      <section class="py-0 osahan-main-body">
         <div class="container">
            <div class="row">
               <div class="col-lg-6">
                  <div class="recommend-slider mb-3" style="margin-top: 20px;">
                     <div class="osahan-slider-item">
                        <img src="img/recommend/r1.jpg" id="detailImg" class="productDetail img-fluid mx-auto shadow-sm rounded" alt="Responsive image">
                     </div>
                  </div>

                  <!--
                  <div class="pd-f d-flex align-items-center mb-3">
                     <span style="margin: 0 auto !important; height: 50px;" 
                           class="btn btn-success p-1 rounded btn-block d-flex align-items-center justify-content-center mr-3 btn-lg">
                           <i class="icofont-plus m-0 mr-2"></i> Adicionar ao carrinho
                     </span>
                  </div>
                  -->
               </div>
               <div class="col-lg-6">
                  
                  <div class="p-4 bg-white rounded shadow-sm">
                     <div class="pt-0">
                        <h2 class="font-weight-bold" class="productDetail" id="detailNome">...</h2>
                        <p class="font-weight-light text-dark m-0 d-flex align-items-center">
                           Preço : <b class="text-dark m-0" class="productDetail" id="detailPrice">0.00 Kz</b>
                           <!-- <span class="badge badge-danger ml-2">50% OFF</span> -->
                        </p>

                     </div>
                     <div class="pt-2">
                        <div class="row">
                           <div class="col-6">
                              <p class="font-weight-bold m-0">Entrega</p>
                              <p class="text-muted m-0" class="productDetail" id="deliveryCost">Gratis</p>
                           </div>
                           <div class="col-6 text-right">
                              <p class="font-weight-bold m-0">Quantidade min:</p>
                              <p class="text-muted m-0" class="productDetail" id="detailMinInOrder">15 unidades</p>
                           </div>
                        </div>
                     </div>
                     <div class="details">
                        <div class="pt-3 bg-white">
                           <div class="d-flex align-items-center">
                              <div class="btn-group osahan-radio btn-group-toggle" data-toggle="buttons">
                                 <label class="btn btn-secondary active">
                                 <input type="radio" name="options" id="option1" checked> 15 unid.
                                 </label>
                                 <label class="btn btn-secondary">
                                 <input type="radio" name="options" id="option2"> 20 unid.
                                 </label>
                                 <label class="btn btn-secondary">
                                 <input type="radio" name="options" id="option3"> 30 unid.
                                 </label>
                              </div>

                              <!--
                                 <a class="ml-auto" href="#">
                                    <form id='myform' class="cart-items-number d-flex" method='POST' action='#'>
                                       <input type='button' value='-' onclick="(new ItemListViewController()).reduceQty('qtyDetail')" class='qtyminus btn btn-success btn-sm' field='quantity' />
                                       <input type='text' name='quantity' id="qtyDetail" value='1' class='qty form-control' />
                                       <input type='button' value='+' onclick="(new ItemListViewController()).addQty('qtyDetail')" class='qtyplus btn btn-success btn-sm' />
                                    </form>
                                 </a>
                              -->
                           </div>
                        </div>
                        <div class="pt-3">

                           <p class="font-weight-bold mb-2">Detalhe do produto</p>
                           <p class="text-muted small mb-0" id="productDescription">Descrição do produto.</p>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
            
         </div>
      </section>
      